
html, body {
    font-family: 'Roboto', sans-serif;

}


.navbar .navbar-brand {
    color: #fff;
    font-size: 1.3em;
}
.navbar .navbar-brand:hover {
    color: #428bca;
}

.navbar .navbar-toggler {
    float: left;
    color: #fff;
    font-size: 1.4em;
} 
.navbar .navbars-menu {
	color: #fff;
}

.navbar #exCollapsingNavbar {
    float: none; 
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding: 0px;
}
.navbar .right-admin-buttons {
    width: auto;
    float: right;
    
}

.login-logout-btn-nav {
    background-color: #5ab75c;
    color: #fff;
    border: 1px solid rgb(249,249,249, 0.05);
    transition: .3s ease;
}
.login-logout-btn-nav:hover {
    transition: .3s ease;
    background-color: #51a452;
    color: #fff;
    border: 1px solid rgb(249,249,249, 0.1);
}
.my-account-btn-nav {
    background-color: #428bca;
    color: #fff;
    border: 1px solid rgb(249,249,249, 0.05);
    transition: .3s ease;
    
}
.my-account-btn-nav:hover{
    
    transition: .3s ease;
    background-color: #4aafcd;
    color: #fff;
    border: 1px solid rgb(249,249,249, 0.1);
    
}


.sidebar-Wrapper {
    
}
.sidebar {
    width:20%;
    top:0px;
    left:0px;
    bottom:0px;
    position:absolute;
    display: inline-block; 
    background-color:#e6e6e6;
    z-index: -1000;
    -webkit-box-shadow: 3px 0px 24px -2px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 0px 24px -2px rgba(0,0,0,0.20);
    box-shadow: 3px 0px 24px -2px rgba(0,0,0,0.10);
    
        
}


.sidebar .sidebar-Content{
    margin-top: 90px;
    display: block;
    font-weight: 100;
}

.mainArea {
    width:80%;
    top:0px;
    right:0px;
    bottom:0px;
    position:absolute;
    display: inline-block;
    background-color:#fafafa;
    z-index: -10;
}

.modal-dialog, .modal-content, .modal-body {
    width: 400px;
    min-width: 300px; 
    height: auto;
}
#addRoomModal .modal-title {
    color:#428bca;
    font-size: 1.5em;
    font-weight: 400;
}
.modal-body {
    height: auto;
}


#addRoomModal i {
    margin-top: 12px;
    
}
#addRoomModal input {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 2;
}


/* newRoomModal */

