<div class="container-fluid">
    <div class="row">
        <div class="sidebar-Wrapper">
            <div class="col-sm-3 sidebar">
                <div class="sidebar-Content">
                    <div class="sidebar-header">
                        <h1 class="roomDisplay">Rooms</h1>
                    </div>
                    <div class="sidebar-body">
                        <ul class="list-group rooms-list">
                            <li type="" class="list-group-item" ng-repeat="room in landing.roomsList">
                                <span class="tag tag-default tag-pill pull-xs-right">{{$index +1}}</span>
                                <h5 list-group-item-heading>{{ room.name }}</h5>
                            </li>
                        </ul>
                        <br>
                        <button type="button" class="btn add-room-Sidebar" ng-click="landing.open()">New room</button> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9  mainArea">
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
